body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
    --yellow: #F4C709;
    --black: #3C3C3B;
    --gray: #878787;
    --white: #EDEDED;
    --font: 'Nunito', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------Header------------------ */
.header--navitem{
  background-color: yellow;
}